@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior:smooth;
}

.shimmer-list{
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.shimmer-box{
    border: 1px solid black;
    border-radius:12px;
    height: 200px;
    width: 240px;
    background-color: rgb(186, 165, 165);
    opacity: 0.1;
    gap: 10px;
    margin: 20px;
}
@keyframes Flash{
    0%{
        transform: scale(1.05);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}

@keyframes slide{
    0%{
        transform:translateX(0%);
    }
    15%{
        transform:translateX(0%);
    }
    20%{
        transform:translateX(-100%);
    }
    35%{
        transform:translateX(-100%);
    }
    40%{
        transform:translateX(-200%);
    }
    55%{
        transform:translateX(-200%);
    }
    60%{
        transform:translateX(-100%);
    }
    75%{
        transform:translateX(-100%);
        
    }
    80%{
        transform:translateX(0%);
    }
    100%{
        transform:translateX(0%);
    }
}